{% load blog_tags %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>
  <link href="{% static "css/blog20.css" %}" rel="stylesheet">
</head>
<body>
  <div id="content">
  <img src="{% static 'mylogo.png' %}" alt="myblog image" width="300px" height="100px">
  
  {% block content %}
  {% endblock %}
 </div>

<div id="sidebar">
  <h2 class="most">My blog</h2>
  <p class="most">This is my blog.I have written {% total_posts %} posts so far.</p>
  <h3 class="most">Latest posts</h3>
  {% show_latest_posts 3 %}
  <h3 class="most">Most commented posts</h3>
  {% get_most_commented_posts as most_commented_posts %}
  <ul class="ul">
   {% for post in most_commented_posts %}
<img src="{% static 'blog2.png' %}" height="20px" width="20px">
  <li>
   <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
   </li>
 
  {% endfor %}
<img src="{% static 'blog.png' %}" height="100px" width="100px">
  <ul>

</div>
</body>
</html>