{% extends "blog/base.html" %}
{% block title %}Share a post{% endblock %}

{% block content %}

 {% if sent %}
  {% for field in form %}
   <div>
     {{ fields.errors }}
     {{ field.label_tag }}{{ field }}
   </div>
 {% endfor %}

  <h1>E-mail has been sent successfully sent.</h1>
  <p class="similar">"{{ post.title }}" was successfully sent to {{ form.cleaned_data.to }}.</p>
  {% else %}
  
    <h1>Share "{{ post.title }}" by e-mail</h1>
   <div class="share-form">
    <form action="." method="post">
       {{ form.as_p }}
       {% csrf_token %}
      <button class="btn btn-primary">Send e-mail</button>
     </form>
   </div>
 {% endif %}
{% endblock %}